<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %level %logger{1} - %msg%n" />
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </Console>
        <Console name="console-error" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss}] [%t] %level %logger{1} - %msg%n}" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL" />
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </Console>
    </Appenders>
    <Loggers>

        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="console-error" />
        </Root>
    </Loggers>
</Configuration>
